@import './../../../node_modules/bootstrap/scss/bootstrap.scss';

.search{
    padding: 30px;
    .search-input{
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 0.375rem;
        margin: 0 5px;
    }
}
.navbar{
    padding: 20px;
    margin: 0 auto;

    .list-group-item{
        border: none;
        background-color: transparent;
    }
    a{
        color: rgb(67, 67, 67);
        text-decoration: none;
    }
}
.navbar-toggler-icon{
    float: right;
    margin:30px 10px;
}
.navbar-toggler-icon::after{
    content: "\f0c9";
}
.collapse-items.d-none{
    max-height: 0;
}
@media (max-width:992px) {
    .display-list{
        max-height: 500px;
        transition: linear 0.9s;
        overflow: hidden;

    }
    .not-display{
        max-height: 0;
        transition: linear 0.9s;
        overflow: hidden;

    }

    
    
}
.logo{
    img{
        margin: 20px;
    }
}

